<!DOCTYPE html>
<html>
<head>
    <title>股票信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/data_render.js')}}"></script>
    <script>
        $(document).ready(function(){
             $.ajax({
                url: '/api?action=trade',
                type: 'get',
                success: function (data) {
                    render_html(data.data,'#content');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
            　　　　console.log(XMLHttpRequest.status);
            　　　　console.log(XMLHttpRequest.readyState);
            　　　　console.log(textStatus);
                }
            });
            $.ajax({
                url: '/api?action=account',
                type: 'get',
                success: function (data) {
                    render_html(data.data,'#account');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
            　　　　console.log(XMLHttpRequest.status);
            　　　　console.log(XMLHttpRequest.readyState);
            　　　　console.log(textStatus);
                }
            });
            $.ajax({
                url: '/api?action=trade_stat',
                type: 'get',
                success: function (data) {
                    render_html(data.data,'#trade_stat');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
            　　　　console.log(XMLHttpRequest.status);
            　　　　console.log(XMLHttpRequest.readyState);
            　　　　console.log(textStatus);
                }
            });
            $.ajax({
                url: '/api?action=market_value_stat',
                type: 'get',
                success: function (data) {
                    console.log("---------------------");
                    console.log(data);
                    render_html(data.data,'#market_value_stat');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
            　　　　console.log(XMLHttpRequest.status);
            　　　　console.log(XMLHttpRequest.readyState);
            　　　　console.log(textStatus);
                }
            });
        });
    </script>
</head>
<body>
<div class="container container-panel">
    <div id="account"></div>
    <h4>市值</h4>
    <object style="width:100%" type="image/svg+xml" data="{{ url_for('static', filename='img/summary.svg')}}"></object>
    <div id="market_value_stat"></div>
    <div id="trade_stat"></div>
    <div id="content" class="table table-striped"></div>
</div>
</body>
</html>
